<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div id=left>
        <h1>Task List...</h1>
        <% for(let i=0;i< data.length;i++){ %>
            <div class="taskdiv" id="<%= data[i].Task %>">
                <div class="innerdiv">
                    <img src="<%= data[i].url %>" >
                    <% if( data[i].check ){ %>
                    <h4 class="taskheading" style="text-decoration:line-through"><%= data[i].Task %></h4>
                    <% } else { %>
                    <h4 class="taskheading"><%= data[i].Task %></h4>
                    <% } %>
    </div>
            <div id = "innerdiv2">
                <% if(data[i].check){ %>
                    <input id="1<%= data[i].Task %>" type="checkbox" value="<%= data[i].Task %>" onclick=check(value) checked>
                <% } else { %>
                    <input id="1<%= data[i].Task %>" type="checkbox" value="<%= data[i].Task %>" onclick=check(value) >
                    <% } %>
                <img class= "delimg" id="<%= data[i].Task %>" src="deleteicon.jpg" onclick=del(id)>
            </div>
            </div>
            <% } %>    
            <script>
                function check(id)
                {
                    console.log(id)
                    let req= new XMLHttpRequest();
                    req.open('POST','/check')
                    req.setRequestHeader("Content-Type","application/json")
                    let data= JSON.stringify({Id:id}) 
                    console.log(data)
                    req.send(data)
                    req.addEventListener("load",function(){
                        if(req.status===200)
                        {
                            let doc = document.getElementById(id);
                            doc = doc.firstElementChild.lastElementChild
                            console.log(doc)
                            console.log(doc)
                            let a = document.getElementById(`1${id}`);
                            if(a.checked)
                            {
                                doc.setAttribute("style","text-decoration:line-through")
                            }
                            else
                            {
                                doc.setAttribute("style","text-decoration:none")
                            }
                        }
                    })
                }
                function del(id)
                {
                    console.log(id)
                    let req= new XMLHttpRequest();
                    req.open('POST','/delete')
                    req.setRequestHeader("Content-Type","application/json")
                    let data= JSON.stringify({Id:id}) 
                    console.log(data)
                    req.send(data)
                    req.addEventListener("load",function(){
                        if(req.status===200)
                        {
                            let doc = document.getElementById(id);
                            doc.remove()   
                        }
                    })
                }
            </script>
    </div>
    <div id = right>
        <form id= "form" method="POST" action="/postdata" enctype="multipart/form-data">
                    <h3>Task Form...</h3>
                    <input id="task" type="text" name="Task" placeholder="Enter task...">
                    <input id="upload" type="file" name="Profile" value="Choose File" accept="image/*">
                    <input id="submit" type="submit" name="submit" value="Submit">
                    <h2>
                        <%= Error %>
                    </h2>
                    </form>
                </div>


</body>

</html>